@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
}

:root {
  --clr-background: hsl(0, 0%, 100%);
  --clr-external-background: hsl(275, 100%, 97%);
  --clr-font-light: hsl(292, 16%, 49%);
  --clr-font: hsl(292, 42%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 320px;
  background-image: url("../assets/images/background-pattern-desktop.svg");
  z-index: -1;
}

body {
  background-color: var(--clr-external-background);
  font-family: "Work Sans";
  font-size: 16px;
  min-height: 130vh;
}

.container {
  background-color: var(--clr-background);
  color: var(--clr-font);
  width: 600px;
  margin: auto;
  padding: 2.5em;
  position: relative;
  top: 170px;
  border-radius: 1em;
  box-shadow: 0 0 14px 8px hsla(292, 16%, 49%, .1);
}

.title {
  font-size: 3.5em;
  margin-bottom: .56em;
  display: flex;
  align-items: center;
  gap: .4em;
}

.title::before {
  content: "";
  width: 40px;
  height: 41px;
  background-image: url("../assets/images/icon-star.svg");
}

.question:not(:last-child) {
  padding-bottom: 1.5em;
  margin-bottom: 1.4em;
  border-bottom: 1px solid hsl(275, 100%, 97%, 0.8);
}

.question .label {
  font-weight: 700;
  font-size: 1.125em;
  display: flex;
  align-items: center;
  transition: color .2s;
}

.question .label:hover {
  color: #AD28EB;
  cursor: pointer;
}

.question .label .btn {
  display: inline-block;
  width: 30px;
  height: 31px;
  background-image: url("../assets/images/icon-minus.svg");
  margin-left: auto;
}

.question .description {
  margin-top: 1.50em;
  color: var(--clr-font-light);
  line-height: 1.5em;
  display: block;
}

@media (max-width: 630px) {
  body::before {
    height: 232px;
    background-image: url("../assets/images/background-pattern-mobile.svg");
  }

  body {
    font-size: 14px;
  }

  .container {
    width: 325px;
    border-radius: .5em;
    padding: 2em;
  }

  .title {
    font-size: 2.5em;
    gap: .6em;
  }

  .title::before {
    width: 24px;
    height: 25px;
    background-size: cover;
  }

  .question .label p {
    width: 220px;
  }
}

.question.hide .label .btn {
  background-image: url("../assets/images/icon-plus.svg");
}

.question.hide .description {
  display: none;
}